* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fafafa;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.head-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  height: 70px;
}

nav > ul {
  list-style: none;
  display: flex;
}

.nav-list {
  font-size: 16px;
  padding: 0 30px 0;
  line-height: 70px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

nav {
  margin: 0 30px;
  font-size: 16px;
  color: #fafafa;
}

#mv {
  height: 650px;
  background-image: ;
  font-size: 10px;
  color: #fafafa;
}

.mv-title {
  padding: 200px 0 10px;
}

.portfolio {
  padding: 90px 0 90px;
  background-color: #eceff1;
  color: #000000;
}

.feature {
  padding: 90px 0 90px;
  color: #000000;
}

.profile {
  padding: 90px 0 90px;
  background-color: #eceff1;
  color: #000000;
}

.contact {
  padding: 90px 0 90px;
  color: #000000;
}

footer {
  height: 60px;
  background-color: #ec715f;
  color: #fafafa;
  display: flex;
  justify-content: center;
}

footer > p {
  color: #fafafa;
  line-height: 60px;
}

